<!DOCTYPE html>
<html lang="en">
<head>
        <style>
      .entry {
        display: flex;
        align-items: bottom;
        height: 30px;
      }
      .entry-name {
        margin-right: 10px;
        line-height: 30px;
      }
      .entry-buttons {
        display: flex;
      }
      .entry-buttons button {
        margin-right: 10px;
        height: 25px;
      }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <ul>
       <li>
           <div class="usb">
               <form action="/usb" method="post">
                <pre>{{ output }}</pre>
               </form>
           </div>
       </li>
   </ul>

</body>
</html>